# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sound/mp3/0001.mp3
sound/mp3/0002.mp3
sound/mp3/0003.mp3
sound/mp3/0004.mp3
sound/mp3/0005.mp3
sound/mp3/0006.mp3
sound/mp3/0007.mp3
sound/mp3/0008.mp3
sound/mp3/0009.mp3
sound/mp3/0010.mp3
sound/mp3/0011.mp3
sound/mp3/0012.mp3
sound/mp3/0013.mp3
sound/mp3/0014.mp3
sound/mp3/0015.mp3
sound/mp3/0016.mp3
sound/mp3/0017.mp3
sound/mp3/0018.mp3
sound/mp3/0019.mp3
sound/mp3/0020.mp3
sound/mp3/0021.mp3
sound/mp3/0022.mp3
sound/mp3/0023.mp3
sound/mp3/0024.mp3
sound/mp3/0025.mp3
sound/mp3/0026.mp3
sound/mp3/0027.mp3
sound/mp3/0028.mp3
sound/mp3/0029.mp3
sound/mp3/0030.mp3
sound/mp3/0031.mp3
sound/mp3/0032.mp3
sound/mp3/0033.mp3
sound/mp3/0034.mp3
sound/mp3/0035.mp3
sound/mp3/readme.txt
